{% extends "layout.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="card w-90 mx-auto" style="opacity: 0.9; margin-top: 10px;">
      <div class="card-heaher" style="opacity: 1; text-align: center;">
        <h2>Explore F1 Stats</h2>
      </div>
      <div class="card-body">
        <div class="row">
        <div class="col">
          <div class="card w-90 mx-auto" style="opacity: 1; align-items: center;">
            <div class="card-img-top" style="justify-items: auto;">
              <img src="./static/images/formula-1-logo.png" alt="F1" style="height: inherit; width: inherit;">
            </div>
            <div class="card-body">
              <h2 style="color: red;">Explore Driver Stats and More</h2>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card w-90 mx-auto" style="opacity: 1; background-color: white; align-items: center;">
            <h2>About</h2>
            <div class="card-body" style="text-align: center;">
              <p>Enjoy and find your favorite driver stats and explore more on the user shared stories and images of the driver</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}